/* CSS Reset - by Josh Comeau */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Styles */

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.form-logo-text {
    font-family: 'norsebold', sans-serif;
    font-size: 5rem;
}

.italicized {
    font-style: italic;
}

/* Sidebar styles */
.sidebar {
    flex-grow: 0;
    flex-basis: 70%;
    color: white;
}

.sidebar img.background-img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.background-img-container {
    position: relative;
    text-align: center;
}

.form-logo-text-container,
.image-credits {
    position: absolute;
}

.form-logo-text-container img.form-logo {
    max-width: 80px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.form-logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    color: rgb(255 255 255);
    bottom: 450px;
    width: 100%;
    padding: 16px;
}

.image-credits {
    font-size: 0.75rem;
    bottom: 0px;
    width: 100%;
    padding: 8px;
}

.image-credits a {
    color: inherit;
    text-decoration: underline;
}

/* Form column styles */
div.form-column {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-column {
    color: rgb(61, 61, 61);
}

.form-column .form-subtitles {
    margin-bottom: 48px;
    margin-left: 48px;
}

.form-subtitles h2.sub-title {
    font-size: 1.5rem;
}

.form-subtitles h2.sub-title:first-child {
    margin-bottom: 16px;
}

/* Form styles */
.form-column form {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    padding-left: 48px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 32px;
}

.form-column h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.form-row {
    display: flex;
    gap: 100px;
    margin-bottom: 16px;
}

.form-control label {
    display: block;
    font-size: 0.75rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(61, 61, 61);
}

.form-control input {
    width: 240px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 3px;
}

.form-control input:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    outline: 1px solid rgb(0, 117, 251);
}

.form-control input:invalid {
    border: 1px solid rgb(255, 0, 0);
}

/* Form bottom row styles */
.form-bottom {
    margin-left: 48px;
}

.form-bottom button {
    color: white;
    font-weight: 900;
    appearance: none;
    border: none;
    border-radius: 10px;
    background-color: #596D48;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 8px 48px;
    margin-bottom: 24px;
}

.form-bottom a {
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}